/* Universal Selector */
* {
    margin: 0 auto;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

/* Type Selector */
/* Using Background layering to deal with old browsers */
html {
    background: rgb(6, 214, 160);
    background: linear-gradient(0deg, rgba(6, 214, 160, 1) 0%, rgba(224, 239, 218, 1) 80%);
    background: url(../img/pexels-eberhard-grossgasteiger-1366919.webp) no-repeat center/cover;
}

ul li:nth-child(odd) {
    font-weight: bold;
}

/* Image w/o filters other than drop-shadow */
img {
    width: 100%;
    filter: drop-shadow(5px 5px 10px #011627);
}

/* Image Filter Effects - Makes the image look nicer, tweaked like I would in photoshop */
img:hover {
    filter: drop-shadow(20px 20px 50px #E9F1F7) brightness(0.95) contrast(120%) saturate(110%) sepia(20%);
}

header {
    width: 90%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(224, 239, 218, .25);
    border: 1px dotted #011627;
}

h1 {
    font-size: 80px;
    text-align: center;
}

main section {
    width: 30%;
    height: 50%;
    padding: 10px 30px;
}

/* Specifies the paragraph in main otherwise it also selects the footer paragraph element */
/* Changes the paragraph to the original colour unlike everywhere else which is using #333 */
main p {
    color: black;
    padding: 10px 30px;
}

main > h2 {
    text-align: left;
    padding-left: 10%;
}

/* Grouping Selector */
h1,
h2,
h3,
p,
ul {
    padding: 1rem 2rem;
}

/* Class Selector */
.wrapper {
    border: 3px dashed #011627;
    box-sizing: border-box;
    width: 80vw;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(233, 241, 247, 0.25);
    background: linear-gradient(0deg, rgba(6, 214, 160, 1) 10%, rgba(224, 239, 218, .25) 100%);
}

/* At-Rule Selector */
/* IDK what to do but this makes the background colour off-white if the user is on mac */
@supports (-webkit-backdrop-filter: blur(1px)) {
    html {
        background-color: rgb(224, 239, 218);
    }
}