/* Typography */
/* Added a background colour so that the webpage is easier to look at */
html {
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(248, 248, 239);
}

h1,
h2,
h3 {
    font-weight: 600;
}

p {
    font-weight: 300;
    line-height: 18px;
}


/* Layout */

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 32px;
}

/* Target every other line on the table to be a slightly darker colour for readability. */
#playlist table tbody tr:nth-child(odd) {
    background-color: bisque;
}

#features>div {
    flex: 1;
}

/* Adds a slightly darker colour to the categories (left) side with the resulting numbers on the right standing out more because of it. */
#features div table tbody tr th {
    background-color: bisque;
}

#features h3 {
    font-size: 1.3rem;
}

/* Added a bullet point png that looks like a note to match the theme of music in the webpage */
#features div ul {
    list-style-image: url(../img/note.png);
    list-style-position: inside;
    list-style-type: square;
}

/* Add a shadow to the image to make it standout a bit more */
img {
    max-height: 300px;
    width: auto;
    box-shadow: 0.2rem 0.2rem 0.5rem #333;
}

main section {
    padding: 60px 20px 0 20px;
}

/* Added style to the links and to the nav bar */
a {
    font-weight: bold;
    color: #333;
}

/* Using the inline-block to keep everything working on the same line just maniplulate the whole block.
 * Using both padding and margin to seperate the block from other things as well as keeping it seperate
 * from itself. Finally using the line-height to keep things consistant.
 */
nav a {
    display: inline-block;
    padding: 0rem 1rem;
    background-color: bisque;
    border: 0.1rem solid rgb(168, 151, 131);
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 1rem;
    margin: 0rem 1rem;
    line-height: 3;
}

nav a:hover {
    color: #333;
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(214, 190, 162);
}

/* Adding styling to the lists */
ul,
ol {
    font-size: 1.0rem;
    line-height: 2;
}

/* Change the font size as you go from 1st to 3rd */
#features div ol li {
    font-size: 1.2rem;
}

#features div ol li:nth-of-type(2) {
    font-size: 1.1rem;
}

#features div ol li:nth-of-type(3) {
    font-size: 1.0rem;
}