/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --white: #eeeeee;
    --main: #3c1518;
    --light-main: #491f22;
    --lighter-main: #b69a9c;
    --lightest-main: #e9dedf;
    --primary: #D62828;
    --secondary: #003049;
}

/* Typography */

/* Body Content Styling */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
}

/* Headings Styling */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 3rem;
}

/* Default Link Decorating */
a {
    text-decoration: none;
}

/* LoVe Fears HAte */
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:focus {
    border: 1px solid red;
}

a:hover {
    background-color: var(--lightest-main);
    border-radius: 0.2em;
}

a:active {
    background-color: var(--primary);
    border-radius: 0.2em;
}

button {
    cursor: pointer;
}

/* Layout & Apperance */
.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--light-main);
}

/* Header Styling */
header {
    display: flex;
    grid-area: header;
    background-color: var(--main);
    color: var(--white);
    align-items: center;
    justify-content: center;
    padding: 0.75em;
}

.navbar {
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

.navbar div {
    display: flex;
    align-items: center;
}

/* Had to use the filter property since drop-shadow had weird boxing around the image borders. */
.logo {
    float: left;
    height: 2em;
    width: auto;
    margin-right: 1em;
    filter: drop-shadow(0 8px 8px rgba(255, 255, 255, 0.5));

}

.navbar>div {
    font-weight: bold;
}

.navbar button {
    border: 2px solid var(--light-main);
    background-color: var(--main);
    border-radius: 0.2em;
    padding: 0.5rem 0.75rem;
    color: var(--light);
}

/* Setup Grid (although I don't really leverage its power since it is set to default layout) */
.main-container {
    display: grid;
    grid-template-areas:
        "header"
        "title"
        "main"
        "footer";
}

main {
    display: block;
}

/* Setup the first section as the title of the webpage */
.title {
    grid-area: title;
    background-color: var(--white);
    padding: 4rem 2rem;
    text-align: center;
}

.title div a {
    border: 1px solid transparent;
    border-radius: 0.25em;
    color: var(--white);
    padding: 0.5rem 0.75rem;
}

.title div a:link {
    color: var(--white);
}

.title div a:visited {
    color: var(--white);
}

.title div a:focus {
    border: 1px dotted darkred;
}

.title div a:hover {
    color: var(--white);
    background-color: var(--secondary);
}

.title div a:active {
    border: 1px dotted darkred;
}

.title div p+p {
    padding-top: 1.5em;
}

/* Setup second section for holding cards of images */
main section:nth-of-type(2) {
    grid-area: main;
    background-color: var(--lightest-main);
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* Container for the cards to be in, positioned to be in the middle */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70vw;
    margin-right: auto;
    margin-left: auto;
}

/* Setup the cards and divs within to have margins, borders, and radii */
.cards {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.cards>div {
    border: 1px solid var(--lighter-main);
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    background-color: var(--white);
}

.img-container {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

/* Align the images so they are properly spaced and don't exceed their containers */
.imgs {
    filter: brightness(75%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--light-main);
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.imgs:hover {
    filter: brightness(100%);
}

/* Setup the text/buttons below image */
.card-text-container {
    padding: 1em;
    text-align: left;
}

.card-text-container p {
    margin-bottom: 1em;
}

.card-text-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns button {
    flex: 0 1 auto;
    display: inline-block;
    white-space: nowrap;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--main);
    border-radius: 0.5em;
    background-color: var(--white);
}

/* Have to set the radii so they are not curved in between the buttons */
.btns .btnView {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btns .btnEdit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Setup footer for content */
footer {
    display: flex;
    grid-area: footer;
    align-items: center;
    justify-content: center;
    color: var(--light-main);
}

/* Position div within footer */
footer>div {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

footer div div {
    display: flex;
    align-items: center;
}

/* Have to do this so the p elements stack vertically */
footer div>div {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}